*.log
*.pyc
chown2me
# eclipse stuff
.project
.pydevproject
.settings/
# PyCharm stuff
.idea/
# backup files from gedit etc.
*~
# runtime files
*.pid
*.sock
*.db
# config files
*.conf
# chown2me binary
bin/chown2me
# Sphinx output
docs/build
# build files
Peekaboo.egg-info/
build/
dist/
.eggs/
