#
# Peekaboo configuration file
# Copyright (C) 2016-2017 science + computing ag
#


[global]
user           :    peekaboo
group          :    peekaboo
socket_file    :    /opt/peekaboo/peekaboo.sock
pid_file       :    /opt/peekaboo/peekaboo.pid
interpreter    :    /usr/bin/python
chown2me_exec  :    /opt/peekaboo/bin/chown2me
# log_level
# possible values: CRITICAL | ERROR | WARNING | INFO | DEBUG
log_level      :    INFO
worker_count   :    3
sample_base_dir:    /tmp
job_hash_regex :    /var/lib/amavis/tmp/([^/]+)/parts.*

#
# Database configuration
#
[db]
# SQLite
url           :    sqlite:////path/to/database.db
# MySQL (recommended)
# url            :    mysql+mysqldb://user:password@host/database
# PostgreSQL
# url           :    postgresql://user:password@host:port/database

#
# Cuckoo specific settings
#
[cuckoo]
exec           :    /usr/bin/cuckoo
submit         :    /usr/lib/python2.7/site-packages/Cuckoo-2.0.0-py2.7.egg/cuckoo/core/submit.py
storage_path   :    /home/peekaboo/.cuckoo/storage
