---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#header_wrap {
 background:#2a7fff;
 background:-moz-linear-gradient(top, #2a7fff, #212121);
 background:-webkit-linear-gradient(top, #2a7fff, #212121);
 background:-ms-linear-gradient(top, #2a7fff, #212121);
 background:-o-linear-gradient(top, #2a7fff, #212121);
 background:linear-gradient(to top, #2a7fff, #212121)
}

#footer_wrap {
 background:#2a7fff
   
}
